[Font data]
# letters in the standart unicode zone
MONGOL_USEG = misc/mongoluseg

# letters in the private zone
MONGOL_USEG_EXT= misc/mongoluseg_ext

# feature files
FEATURE_FILE = misc/mongolbichig.fea

# base font
BASE_FONT = resources/DejaVuSans.sfd

# place where glyphs are
GLYPHS_DIR = /tmp/svgs
